@CHARSET "UTF-8";

.ui-datatable{
	width: 60%;
	padding: 20px;	
}

.myAutocomplete .ui-autocomplete-multiple-container {
  width: 100%;
}

.title{
	font-weight: bold;
}

.apptitle{
	font-weight: bold;
	font-size: xx-large;
}

.appdescription{
	font-size: larger;	
}

.headertext{
	font-size: 35px;	
	vertical-align: top;	
}

.infotext{
	font-size: 30px;
	text-align: center;		
}

.seedetail { 
	
}




