@CHARSET "UTF-8";

.ui-datatable{
	width: 400px;
	padding: 20px;
	margin: 0 auto;
}

.myAutocomplete .ui-autocomplete-multiple-container {
  width: 100%;
}

.title{
	font-weight: bold;
}

.apptitle{
	font-weight: bold;
	font-size: xx-large;
}

.appdescription{
	font-size: larger;	
}

.headertext{
	font-size: 50px;	
	vertical-align: top;	
}




