<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.1.xsd">
        
        <http pattern="/**/*.css" security="none" />
    	<http pattern="/**/*.js" security="none" />
    	<http pattern="/**/*.png" security="none" />
        
        <http auto-config="true" use-expressions="false">		
        	
        	<form-login login-processing-url="/j_spring_security_check"
        				login-page="/pages/login.jsf"         				
        				authentication-failure-url="/pages/login.jsf"/>
        	<intercept-url pattern="/pages/login.jsf*" access="ROLE_ANONYMOUS"/> 
        	<intercept-url pattern="/pages/secured/principal/**" access="ROLE_ESTUDIANTE, ROLE_RECLUTADOR"/>  		
        	<intercept-url pattern="/pages/secured/postulante/**" access="ROLE_ESTUDIANTE"/>
        	<intercept-url pattern="/pages/secured/reclutador/**" access="ROLE_RECLUTADOR"/>   
        	<intercept-url pattern="/pages/secured/administrador/**" access="ROLE_ESTUDIANTE,ROLE_ADMIN"/>        	    	
        
        	<logout logout-success-url="/pages/login.jsf"/>        	
        </http>
        
        <authentication-manager alias="authenticationManager" erase-credentials="false">
        	<authentication-provider >        		
        		<jdbc-user-service data-source-ref="dataSource"
	users-by-username-query="SELECT usua_correo AS username, 
        		 					usua_contrasenia AS password,
        		 					true AS enabled
                             FROM vindbrein.usuario
                             WHERE usua_correo =  ?"
	authorities-by-username-query="SELECT 
									u.usua_correo AS username, 
									CASE 
									WHEN u.fk_post_id is not null THEN 'ROLE_ESTUDIANTE' 
									WHEN u.fk_recl_id is not null THEN 'ROLE_RECLUTADOR'
									WHEN (u.fk_recl_id is null and u.fk_post_id is null) THEN 'ROLE_ADMIN'
									END  AS authority 
									FROM vindbrein.usuario u
									WHERE u.usua_correo = ?" />        		
        	</authentication-provider>
        </authentication-manager>  
</beans:beans>
